![Silicon Valley](https://media.wired.com/photos/5a7017613e69512c8c6fe83f/master/pass/wired_silicon-valley-opens-1-3-6.jpg)

# <p style="background:linear-gradient(to right,#ef233c, #ff758f); color:white; font-family:newtimeroman; font-size:200%; text-align:left; border-radius: 20px 20px;"> ðŸ¤“ Webscraping de las temporadas de silicon valley </p>

In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [3]:
# URL de la pÃ¡gina de la cual se extraerÃ¡n los datos
# Recomiendo ampliamente que des un vistazo a la pÃ¡gina para corroborar la informaciÃ³n a extraer
url = 'https://es.wikipedia.org/wiki/Anexo:Episodios_de_Silicon_Valley'

In [19]:
# Obtenemos directamente los dataframes de la pÃ¡gina
tablas_dataframe = pd.read_html(url, flavor='bs4')

In [20]:
# Numero total de dataframes
len(tablas_dataframe)

8

In [22]:
# Imprimimos la primer tabla
tablas_dataframe[0]

  Temporada             Episodios                   EmisiÃ³n original  \
  Temporada Temporada.1 Episodios Episodios.1        Primera emisiÃ³n
0       NaN           1         8           8     6 de abril de 2014
1       NaN           2        10          10    12 de abril de 2015
2       NaN           3        10          10    24 de abril de 2016
3       NaN           4        10          10    23 de abril de 2017
4       NaN           5         8           8    25 de marzo de 2018
5       NaN           6         7           7  27 de octubre de 2019


           Ãšltima emisiÃ³n
0      1 de junio de 2014
1     14 de junio de 2015
2     26 de junio de 2016
3     25 de junio de 2017
4      13 de mayo de 2018
5  8 de diciembre de 2019

In [33]:
# Imprimimos la ultima tabla
tablas_dataframe[7]

  Temporada             Episodio nÃºmero                                     \
  Temporada Temporada.1               1      2      3      4      5      6
0       NaN           1           1.980  1.690  1.620  1.550  1.820  1.690
1       NaN           2           2.130  1.730  1.940  1.750  1.530  1.540
2       NaN           3           1.860  1.720  1.690  1.890  1.710  1.620
3       NaN           4           0.867  0.762  0.774  0.859  0.844  0.728
4       NaN           5           0.698  0.592  0.624  0.610  0.858  1.020
5       NaN           6           0.448  0.383  0.459  0.452  0.311  0.414

                              Promedio
       7      8      9     10 Promedio
0  1.680   1.74      â€”      â€”    1.720
1  1.600   1.78   1.87   2.11    1.800
2  1.700   1.64   1.63   2.04    1.750
3  0.862  0.798  0.840  0.790    0.812
4  0.853  0.707      â€”      â€”    0.745
5  0.454      â€”      â€”      â€”    0.417

In [31]:
# Buscamos un dato en especifico con match, En este caso, tablas que contengan 2015
pd.read_html(url, flavor='bs4', match='2015')

[  Temporada             Episodios                   EmisiÃ³n original  \
   Temporada Temporada.1 Episodios Episodios.1        Primera emisiÃ³n
 0       NaN           1         8           8     6 de abril de 2014
 1       NaN           2        10          10    12 de abril de 2015
 2       NaN           3        10          10    24 de abril de 2016
 3       NaN           4        10          10    23 de abril de 2017
 4       NaN           5         8           8    25 de marzo de 2018
 5       NaN           6         7           7  27 de octubre de 2019


            Ãšltima emisiÃ³n
 0      1 de junio de 2014
 1     14 de junio de 2015
 2     26 de junio de 2016
 3     25 de junio de 2017
 4      13 de mayo de 2018
 5  8 de diciembre de 2019  ,
    N.Âº en serie  N.Âº en temp.                                         TÃ­tulo  \
 0             9             1  Â«Sand Hill ShuffleÂ»Â«Ronda por Sand Hill RoadÂ»
 1            10             2   Â«Runaway DevaluationÂ»Â«DevaluaciÃ³n a la bajaÂ»
 2            11             3                       Â«Bad MoneyÂ»Â«Dinero maloÂ»
 3            12             4                            Â«The LadyÂ»Â«La damaÂ»
 4            13             5           Â«Server SpaceÂ»Â«Espacio del servidorÂ»
 5            14             6                           Â«HomicideÂ»Â«HomicideÂ»
 6            15             7        Â«Adult ContentÂ»Â«Contenido para adultosÂ»
 7            16             8        Â«White Hat/Black HatÂ»Â«Hacker y crackerÂ»
 8            17             9    Â«Binding ArbitrationÂ»Â«Arbitraje vinculanteÂ»
 9            18            10  Â«Two Days of CondorÂ»Â«Los dos dÃ­as del cÃ³ndorÂ»

   Dirigido por    Escrito por Fecha de emisiÃ³n original Audiencia (millones)
 0   Mike Judge    Clay Tarver       12 de abril de 2015             2.13[9]â€‹
 1   Mike Judge     Ron Weiner       19 de abril de 2015            1.73[10]â€‹
 2    Alec Berg      Alec Berg       26 de abril de 2015            1.94[11]â€‹
 3    Alec Berg    Carson Mell         3 de mayo de 2015            1.75[12]â€‹
 4   Mike Judge       Sony Lee        10 de mayo de 2015            1.53[13]â€‹
 5   Mike Judge  Carrie Kemper        17 de mayo de 2015            1.54[14]â€‹
 6    Alec Berg     Amy Aniobi        24 de mayo de 2015            1.60[15]â€‹
 7    Alec Berg   Daniel Lyons        31 de mayo de 2015            1.78[16]â€‹
 8   Mike Judge    Dan O'Keefe        7 de junio de 2015            1.87[17]â€‹
 9    Alec Berg      Alec Berg       14 de junio de 2015            2.11[18]â€‹  ]